* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.one,
.two {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

#increaseByOne,
#increaseByTwo {
    background-color: #137F3F;
    color: aliceblue;
    padding: 0.5rem;
    border: none;
    width: 80px;
    height: 56px;
    border-radius: 0 8px 8px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    cursor: pointer;
}
#increaseByOne:hover{
    background-color: #16522e;
}

#increaseByTwo:hover{
    background-color: #16522e;
}

#displayOne,
#displayTwo {
    display: flex;
    width: 80px;
    height: 56px;
    padding: 0.5rem;
    background-color: #FFEDCC;
    justify-content: center;
    align-items: center;
}

#decreaseByOne,
#decreaseByTwo {
    background-color: #F8F9FC;
    color: #374151;
    border: 0.5px solid #137F3F;
    padding: 0.5rem;
    width: 80px;
    height: 56px;
    border-radius: 8px 0 0 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
#decreaseByOne:hover{
    background-color: #EAECF0;
    border: none;

}
#decreaseByTwo:hover{
    background-color: #EAECF0;
    border: none;

}